comm_client/.cproject
comm_client/.project
comm_client/CMakeCache.txt
comm_client/CMakeFiles/
comm_client/Makefile
comm_client/cmake_install.cmake
comm_client/libcommclient.so
coin_toss/logs

coin_toss/.cproject
coin_toss/.project
coin_toss/CMakeCache.txt
coin_toss/CMakeFiles/
coin_toss/Makefile
coin_toss/cmake_install.cmake
coin_toss/cointoss

cct_proxy/.cproject
cct_proxy/.project
cct_proxy/CMakeCache.txt
cct_proxy/CMakeFiles/
cct_proxy/Makefile
cct_proxy/cct_proxy
cct_proxy/cmake_install.cmake

ccw_proxy/.cproject
ccw_proxy/.project
ccw_proxy/CMakeCache.txt
ccw_proxy/CMakeFiles/
ccw_proxy/Makefile
ccw_proxy/ccw_proxy
ccw_proxy/cmake_install.cmake

